

#container {
    position: relative;
    outline: solid 2px black;
    margin: auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    height: 100px;
    width: 100px;
    outline: solid 1px black;
}

.three {
    height: 300px;
    width: 100px;
    background-color: blue;
    position: absolute;
    outline: solid 1px black;
}

.two {
    height: 200px;
    width: 100px;
    background-color: red;
    position: absolute;
    outline: solid 1px black;
}

.hori2 {
    height: 100px;
    width: 200px;
    background-color: purple;
    position: absolute;
    outline: solid 1px black;
}

.main {
    height: 100px;
    width: 200px;
    background-color: gold;
    position: absolute;
    outline: solid 1px black;
}

.x1y2, .x4y2, .x2y2, .x3y2, .x5y2, .x0y4, .x1y4, .x5y4, .x3y4, .x2y5 {
    height: 100px;
    width: 100px;
    outline: none;
}
