

#container {
    position: relative;
    outline: solid 2px black;
    margin: auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    height: 100px;
    width: 100px;
    outline: solid 1px black;
}

.three {
    height: 300px;
    width: 100px;
    background-color: blue;
    position: absolute;
    border: solid 1px black;
}

.two {
    height: 200px;
    width: 100px;
    background-color: red;
    position: absolute;
    border: solid 1px black;
}

.hori2 {
    height: 100px;
    width: 200px;
    background-color: purple;
    position: absolute;
    border: solid 1px black;
}

.main {
    height: 100px;
    width: 200px;
    background-color: gold;
    position: absolute;
    border: solid 1px black;
}






/*
div:focus {
    border: solid 2px yellow;
}

.block {
    position: absolute;
    height: 100px;
    width: 200px;
    outline: solid 1px black;
    display: inline-block;
}

.vert {transform: rotate(90deg);}

.three {
    height: 100px;
    width: 300px;
}
/* fixes alignment problem*/
.two {transform-origin: top;}

.one {
    outline: solid 3px blue;
    top: 200px;
}


