

#container {
    position: relative;
    outline: solid 2px black;
    margin: auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    height: 100px;
    width: 100px;
    outline: solid 1px black;
}

.block {
    position: absolute;
    height: 100px;
    width: 200px;
    outline: solid 1px black;
    display: inline-block;
}

.vert {transform: rotate(90deg);}

.three {
    height: 100px;
    width: 300px;
}
/* fixes alignment problem*/
.two {transform-origin: top;}

.one {
    outline: solid 3px blue;
    top: 200px;
}

#block3a {left: 200px; top: 100px;}
#block3b {left: 100px; top: 100px;}
#block2a {left: 400px; top: 200px;}
#block2b {left: 500px; top: 200px;}
#block2c {top: 400px;}
#block2d {left: 100px; top: 400px;}
#block2e {left: 500px; top: 400px;}
#block2f {top: 500px; left: 100px;}
#block2g {top: 400px; left: 200px;}
/*.row {
    height: 100px;
    width: 100px;

    outline:  solid 1px black;
    display: inline-block;
    z-index: -1;
}

.col {
    height: 100px;
    width: 100px;

    outline:  solid 1px black;
    display: inline-block;
    z-index: -1;
}   */


/*.block3 {
    position: absolute;
    outline: solid 1px black;
    height: 100px;
    width: 300px;
    transform: rotate(90deg);

    display:inline-block;
}

.block2 {
    position: absolute;
    outline: solid 1px black;
    height: 100px;
    width: 200px;

    display: inline-block;
} */


